[Unit]
Description=Monitor caddy logs and generate telegram alerts
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/bin/
EnvironmentFile=/etc/telegram-monitor/env
ExecStart=/path/to/virtualenv/python3 telegram-monitor.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
